<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Please Create Your Account In My App</h1>
    <h3>Please Fill The Form</h3>
    <form action="/Signup" method="POST">
        <input type="text" name = "Name1" placeholder="Enter Your Nmae">
        <input type="email" name="Email1" placeholder="Enter Your Email">
        <input type="password" name="pass1" placeholder="Enter Your pass">
        <input type="submit">
    </form>
</body>
</html>